.main-view-article {
    flex-grow: 1;
}

.main-view-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.start-game-bth {
    background-color: #23debb;
    transition: all 0.3s ease-in-out;
    width: 200px;
    padding: 10px;
    margin: 0 auto;
    display: block;
    text-align: center;
}

.start-game-bth:hover {
    background-color: rgba(33, 145, 112, 0.8);
}

.detailed-rules {
    width: 470px;
    margin: 0 auto;
    color: #ffffff;
    font-size: 20px;
}

.detailed-rules li {
    padding: 5px;
}

.copyright {
    position: absolute;
    bottom: 0;
    left: 0;
}